
<div id="viewCardZone">
  

  <div id="updateCard" class="updateCard">

      <div id="updateCardControl">
        <button id="editCard">Edit</button>
        <button id="update">update</button>
      </div>

  </div>

  <div id="galleryContainer">
      <button id="delete">Delete Card</button>
      <button id="finishDelete">Done Deleting</button>
      <div id="gallery"></div>
      <div id="galleryPlaceHolder">
        <p>
          It appears you don't have a story yet
        </p>
        <p>
          To create one, click "new story" to upload an image that reminds you of something happened in your life
        </p>
        <p>
          Then click "tutor session" to practice your English by telling your stories to someone!  :-)
        </p>
      </div>
      <div id="loadMore"><p>Load More Cards</p></div>
      
  </div>
</div>
<script>

  var smallestCard=Date.now();

  $(document).ready(function(){
    var initialLoad;
    
    
    // if(tutorId){initialLoad=3;$("#loadMore").hide();$("#delete").hide()}
    // else if(!tutorId){initialLoad=8}

    // socket.emit("initialLoad", [userId,initialLoad]);// createdAt, from most recent.
    
    // socket.on("initialLoad"+userId, function(cards){
    //   displayCards(cards);
    // })
    // setTimeout(function(){if(!$("#gallery").html()){
    //   $("#galleryPlaceHolder").show()
    // }},0)

    setTimeout(function(){$("#loadMore").trigger("click")},0);

    $("#loadMore").click(function(){
      socket.emit("sixSmallerCards",[userId,smallestCard,userId])
    })

    socket.on("sixSmallerCards"+userId,function(cards){
      displayCards(cards)
      $("#galleryPlaceHolder").hide()
    })


    socket.on("newCard"+userId,function(card){
      displayNewCards(card)
      setTimeout(newRound(),0);
      $("#galleryPlaceHolder").hide();
    })
    
  })

  $( "#gallery" ).delegate( ".galleryCard", "click", function() {
    event.preventDefault();
    $("#updateCard").find(".galleryCard").remove();
    $(this).clone().appendTo($("#updateCard"));
    $("#editCard").show();
    $("#update").hide();
    
    $("#updateCard").popup('show');
  });

  $(document).ready(function() {
    $('#updateCard').popup({
      opacity: 0.8,
      transition: '0.3s',
      scrolllock: true
    });
  })
 
  $("#editCard").click(function(){
    $("#updateCard").find("p").attr("contenteditable","true")
    $('#update').show();
    $("#editCard").hide();
  })


  $("#update").click(function(){
    var updateInfo = {
      _id:$("#updateCard").find(".galleryCard").attr("id"),
      keyWord0:$("#updateCard").find(".keyWord0").html(),
      keyWord1:$("#updateCard").find(".keyWord1").html(),
      keyWord2:$("#updateCard").find(".keyWord2").html(),
      note0:$("#updateCard").find('.note0').html(),
      note1:$("#updateCard").find('.note1').html(),
      note2:$("#updateCard").find('.note2').html()
    }

    socket.emit("updateCard",updateInfo);
    $("#gallery>#"+updateInfo._id).find(".keyWord0").html(updateInfo.keyWord0);
    $("#gallery>#"+updateInfo._id).find(".keyWord1").html(updateInfo.keyWord1);
    $("#gallery>#"+updateInfo._id).find(".keyWord2").html(updateInfo.keyWord2);
    $("#gallery>#"+updateInfo._id).find(".note0").html(updateInfo.note0);
    $("#gallery>#"+updateInfo._id).find(".note1").html(updateInfo.note1);
    $("#gallery>#"+updateInfo._id).find(".note2").html(updateInfo.note2);

    $('#update').hide();
    $('#editCard').show();
    $("#updateCard").find("p").attr("contenteditable","false")
  })


  $("#finishDelete").hide()
  $("#delete").click(function(){
    $("#finishDelete").show();
    $("#delete").hide();
    $('#gallery .galleryCard').click(function(){
      var lnk=$(this).find($("img")).attr("src");
      var splt=lnk.split("/")
      if(confirm("delete this card?")){
        if(splt[2]=="s3.amazonaws.com"&&splt[3]=="langtime"){
          socket.emit("deleteCard",[splt[4],$(this).attr("id")]) 
        }else{
          socket.emit("deleteCard",["somewhereElse",$(this).attr("id")])
        }
        $(this).remove();
      }
    })
  })

  $("#finishDelete").click(function(){
    $("#finishDelete").hide();
    $("#delete").show();
    $("#gallery .galleryCard").off("click");
  })


  function displayCards(cards){
    if(cards.length){
        for(var key in cards){
          var card = cards[key];
          if(card.createdAt<smallestCard){smallestCard=card.createdAt; console.log(smallestCard)};
          var element = cardGenerator(card);
          $("#gallery").append(element)
        };
    }else{
        var card = cards;
        var element = cardGenerator(card);
        $("#gallery").append(element)
    }
  }

  function displayNewCards(cards){
    if(cards.length){
        for(var key in cards){
          var card = cards[key];
          if(card.createdAt<smallestCard){smallestCard=card.createdAt; console.log(smallestCard)};
          var element = cardGenerator(card);
          $("#gallery").prepend(element)
        };
    }else{
        var card = cards;
        var element = cardGenerator(card);
        $("#gallery").prepend(element)
    }
  }

  function cardGenerator(card){
      return element = '<div id='+card._id+' class="galleryCard">'+
                  '<img src="'+card.imageUrl+'">'+
                  '<div class="overlay">'+
                    '<div class="overlayContent galleryKeyWord"><h4>First Key Word:</h4>'+
                    '<p class="keyWord0">'+card.keyWord0+'</p></div>'+
                    '<div class="overlayContent galleryKeyWord"><h4>Second Key Word</h4>'+
                    '<p class="keyWord1">'+card.keyWord1+'</p></div>'+
                    '<div class="overlayContent galleryKeyWord"><h4>Third Key Word</h4>'+
                    '<p class="keyWord2">'+card.keyWord2+'</p></div>'+
                    '<div class="overlayContent galleryNote"><h4>First Note</h4>'+
                    '<p class="note0">'+card.note0+'</p></div>'+
                    '<div class="overlayContent galleryNote"><h4>Second Note</h4>'+
                    '<p class="note1">'+card.note1+'</p></div>'+
                    '<div class="overlayContent galleryNote"><h4>Third Note</h4>'+
                    '<p class="note2">'+card.note2+'</p></div></div>'+
              '</div>';
  }



</script>

