<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<p>
  <!-- 
        // // enable alert!!
        // alert("Now, no typing or reading, but.. only SPEAK!!!")
        // alert("tell tutor to do it for you, e.g. taking notes, or everything !!! he/she serve rs")-->
</p>
</body>
</html>