<head>
<script src="./lib/jquery-1.11.1.min.js"></script>
<script src="./lib/socket.io.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
<link rel="stylesheet" href="./stylesheets/class.css">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-63248805-8', 'auto');
  ga('send', 'pageview');

</script>
</head>

<body>
<div id="userId" style="display:none"><%=userId%></div>
<nav class="blue lighten-5">
  <style>#allStories, #oneStory{display: none;}</style>
  <ul class="left  blue">
    <li id="currentStory"><a href="#!" >Current Story</a></li>
    <li id="allStories"><a href="#!" >All Stories</a></li>
  </ul>
  <ul class="right red" >
    <li id="leave"><a href="#!">Leave Session</a></li>
  </ul>
</nav>

<style>#oneOfMyCard{padding-top: 60px}</style>
  <div id="oneOfMyCard" class="row">
    <div id="panel" class="row">
      <div class="col s12">
        <ul>
          <a href="#!" class="btn" id="bigger" ><i class="mdi-navigation-arrow-back left"></i></a>
          <a href="#!" class="btn" id="shareThis">Share</a>
          <a href="#!" class="btn" id="smaller"><i class="mdi-navigation-arrow-forward right"></i></a>
        </ul>
      </div>
    </div>
    <div class="card col s12">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="http://materializecss.com/images/office.jpg">
        <span id="originalId"></span>
      </div>
    </div>
  </div>


<script>

$(document).ready(function(){
  var socket = io();
  var userId=$("#userId").html();
  var currentCardDate=Date.now();

  $("#allStories").click(function(){
    $("#allStories").hide();
    $("#oneStory").hide();
    $("#oneOfMyCard").show();
    $("#currentStory").show()
  });
  $("#currentStory").click(function(){
    $("#allStories").show();
    $("#oneStory").show();
    $("#oneOfMyCard").hide();
    $("#currentStory").hide()
  });
  $("#leave").click(function(){
    window.location.href="/learn";
  });


  socket.emit("oneSmallerCard",[userId,currentCardDate])

  socket.on("oneSmallerCard"+userId,function(cards){
    displayCard(cards[0])
  })
  socket.on("oneBiggerCard"+userId,function(cards){
    displayCard(cards[0])
  })
  $("#smaller").click(function(){
    socket.emit("oneSmallerCard",[userId,currentCardDate])
  })
  $("#bigger").click(function(){
    socket.emit("oneBiggerCard",[userId,currentCardDate])
  })
  function displayCard(card){
    $("#oneOfMyCard").find("img")[0].src=card.imageUrl;
    $("#oneOfMyCard").find("img")[0].id=card._id;
    $("#oneOfMyCard").find("span")[0].id=card.userId;
    currentCardDate=card.createdAt;
  };

})

</script>


<div class="row" id="oneStory">
      <div class="col s12 m7">
          <div class="card" id="studyCard">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" id="some" src="http://materializecss.com/images/office.jpg">
            </div>
            <div class="card-content" id="studentCollect">
              <span class="card-title grey-text text-darken-4"><a href="#!">Student can collect & own this card by clicking here </a><i class="mdi-image-filter-1 right"></i></span>
            </div>
          </div>
      </div>

      <div class="col s12 m4">

          <ul class="collapsible" data-collapsible="accordion">
            <li id="note0">
              <div class="collapsible-header"><i class="mdi-image-filter-drama"></i>First Time</div>
              <div class="collapsible-body"><p contenteditable="true">Smile :-)</p></div>
            </li>
            <li id="note1">
              <div class="collapsible-header"><i class="mdi-maps-place"></i>Second Time</div>
              <div class="collapsible-body"><p contenteditable="true">Smile :-)</p></div>
            </li>
            <li id="note2">
              <div class="collapsible-header"><i class="mdi-social-whatshot"></i>Third Time</div>
              <div class="collapsible-body"><p contenteditable="true">Smile :-)</p></div>
            </li>
          </ul>
          <a class="waves-effect waves-light btn blue lighten-1 " id='tutorUpdate'>Teacher Update Card For Student</a>



          <div id="langtimechat" class="blue-text text-darken-2">
            
            <div class="row" id="langtimechatinput">
              <div class="input-field col s12">
                <input placeholder="send message here" id="userMessage" type="text" class="validate">
                <label for="userMessage">Type</label>
              </div>
            </div>

            <div id="langtimeMessages" >
                  <div class="row card-panel">
                    <div class="col s10">
                      <span class="blue-text text-darken-2">{{text}}</span>        
                    </div>
                    <div class="col s2">
                      <p>Name</p>
                    </div>
                  </div>
            </div>
          </div>

      </div>
</div>

<script>
$(document).ready(function(){
  $('.materialboxed').materialbox();
  var socket = io();
  function studyCard(card){
    $("#currentStory").trigger("click")
    $("#studyCard").find("img")[0].src=card.imageUrl;
    $("#studyCard").find("img")[0].id=card._id;
    $("#note0").find("p").html(card.note0)
    $("#note1").find("p").html(card.note1)
    $("#note2").find("p").html(card.note2)
  };

  socket.on("shareThis",function(data){
    studyCard(data);
  })
  $("#shareThis").click(function(){
    var someId=$("#oneOfMyCard").find("img")[0].id
    socket.emit("shareThis",[someId])
  })
  //tutor do this??? student???
  $("#tutorUpdate").click(function(){
    var updateInfo = {
      _id:$("#studyCard").find("img")[0].id,
      note0:$("#note0").find("p").html(),
      note1:$("#note1").find("p").html(),
      note2:$("#note2").find("p").html()
    }
    socket.emit("tutorUpdate",updateInfo);
  })

  $("#studyCard span").click(function(){
    if(userId!=$("#oneStory").find("img")[0].id){
      cardInfo={
        userId:userId,
        createdAt: Date.now(),
        imageUrl : $("#oneStory").find("img")[0].src,
        note0:$("#note0").find("p").html(),
        note1:$("#note1").find("p").html(),
        note2:$("#note2").find("p").html()
      };
      socket.emit("newCard", cardInfo);
    }
  })





});
</script>


</body>