<style type="text/css">
.right {
    position: absolute;
    right: 0px;
    width: 300px;
    background-color: #b0e0e6;
}
</style>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<whatIsTag>A dog with a bone</whatIsTag>
<p> thank you. you and louis really came through</p>
<p>i took it out on him..</p>
<div class="right">
  <p>In my younger and more vulnerable years my father gave me some advice that I've been turning over in my mind ever since.</p>
  <p>'Whenever you feel like criticizing anyone,' he told me, 'just remember that all the people in this world haven't had the advantages that you've had.'</p>
</div>

<script>
  
  var Jessica= $("whatIsTag").html()
  alert(Jessica);
</script>



