
<head>
<title>LangTime | Showcase of stories told by students</title>
<meta name="description" content="Examples of stories that past students have told, what they have learned. ">
<!-- <meta name="keywords" content=" Spoken English, Speaking English, English Speaking, Takl English, Conversational English,pronounciation, fluency, Purdue, Purdue University, English,Lafayette, West Lafayette, individualized learning">
 -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material-fullpalette.min.css">
  <link rel="stylesheet" href="./stylesheets/index.css">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-63248805-3', 'auto');
  ga('send', 'pageview');

</script>
</head>

<body>

    <div class="row" role="banner" id="LT-header">
      <div class="col-sm-6" id="LT-header-1">
          <a href="/" ><img src="https://s3.amazonaws.com/langtime/552cc5cb35dd945413007c5e1433873406118.gif">Spoken English Training</a>
          <p></p>
      </div>
      <div class="col-sm-6" id="LT-header-2">
        Already have an account? 
        <a class="btn btn-success" href="/login">Log in</a>
      </div>
    </div>


    <div class="bs-component">
        <div class="navbar navbar-inverse">
            <div class="navbar-header">
                <a style="display:none" class="navbar-brand" href="http://langtime.me">Overview<div class="ripple-wrapper"></div></a>
            </div>
            <div class="navbar-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    <li style="display:none" class="active"><a href="#">Showcase</a></li>
                    <li ><a href="/signup">Sign Up<div class="ripple-wrapper"></div></a></li>
                </ul>
            </div>
        </div>
    </div>
    





  <div class="row">


    <div class="list col-sm-3">
      <li class="list__item">
        <figure class="list__item__inner">
          <a class="divLink" href="#">
          <p class="vignette" style="background-image:url(https://s3.amazonaws.com/langtime/552cc5cb35dd945413007c5e1433901545750.png)"></p>
          <div class="titlebox">Life is exciting</div>
          <div class="infobox">I told the story of how I conquered life again, in English!</div>
         </a>
       </figure>
      </li>
    </div>


    <div class="list col-sm-3">
      <li class="list__item">
        <figure class="list__item__inner">
          <a class="divLink" href="#">
          <p class="vignette" style="background-image:url(https://s3.amazonaws.com/langtime/552cc5cb35dd945413007c5e1433901817018.JPG)"></p>
          <div class="titlebox">Fun time!</div>
          <div class="infobox">I borrowed an Ukulele from my friends, it was so interesting!</div>
         </a>
       </figure>
      </li>
    </div>

    <div class="list col-sm-3">
      <li class="list__item">
        <figure class="list__item__inner">
          <a class="divLink" href="#">
          <p class="vignette" style="background-image:url(https://s3.amazonaws.com/langtime/552cc5cb35dd945413007c5e1433901367519.png)"></p>
          <div class="titlebox">A gift</div>
          <div class="infobox">I told the wonderful story behind my Christmas gift.. in English!</div>
         </a>
       </figure>
      </li>
    </div>

  </div>


  <div class="row">


    <div class="list col-sm-3">
      <li class="list__item">
        <figure class="list__item__inner">
          <a class="divLink" href="#">
          <p class="vignette" style="background-image:url(https://s3.amazonaws.com/langtime/552cc5cb35dd945413007c5e1433901423623.png)"></p>
          <div class="titlebox">Role Model</div>
          <div class="infobox">Did you know that he's from Austria and once spoke ZERO English??</div>
         </a>
       </figure>
      </li>
    </div>


    <div class="list col-sm-3">
      <li class="list__item">
        <figure class="list__item__inner">
          <a class="divLink" href="#">
          <p class="vignette" style="background-image:url(https://s3.amazonaws.com/langtime/552cc5cb35dd945413007c5e1433890763211.png)"></p>
          <div class="titlebox">It's The Time</div>
          <div class="infobox">LangTime will help you conquer the language barrier</div>
         </a>
       </figure>
      </li>
    </div>

    <div class="list col-sm-3">
      <li class="list__item">
        <figure class="list__item__inner">
          <a class="divLink" href="/signup">
          <p class="vignette" style="background-image:url(https://s3.amazonaws.com/langtime/552cc5cb35dd945413007c5e1433902586870.jpg)"></p>
          <div class="titlebox">Start Now</div>
          <div class="infobox">Sign up and start to tell your stories to the world, in Fluent English!</div>
         </a>
       </figure>
      </li>
    </div>

  </div>



</body>
