
<h1>Universal Intro</h1>
<h2>Wordpress linked</h2>
<h1>LangTime blog</h1>
<p>

I grew up in northern China, a small town with less then 10k people.

I moved to U.S. 4 years ago to study Neuroscience at Purude University, Indiana. While waiting for my research intern at Stanford University, I'm working on developing a <a href="http://langtime.me">website called LangTime</a> which I hope to turn into something big one day, and help lots of people learn to speak a second language in shortest time possible.

Xiao
</p>

<h1>To developers</h1>
<p>

</p>


<h1>To tutors</h1>
<p>

Xiao
</p>

Hey Guys, I'm a big fan of JS. Is there any hacker in this group wanting to work on hacks together over weekends or something? 
Topic can be discussed. 
My profile on Challenge post:
http://challengepost.com/iamwave007
My interest:
Accelerated Language learning (Gamification implied); Education

