<head>
<script src="./lib/jquery-1.11.1.min.js"></script>
<script src="./lib/firebase2.0.6.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>

</head>

<body>
  


<style>

.m2{

  padding-right: 0;
}
.m5{
  padding-left: 0;
  padding-top: 3px;
  padding-bottom: 3px
}
#arrow{
  height:100%;
}
#avatar img{
  margin-left: -70%;
  margin-right: -48%;
  z-index: 10000;
}

#div1 {
  height:300px;padding:10px;
}
#div2 {
  height:360px;padding:10px;
}

#everyone{
  padding-top: 20px;
}
</style>


<script>
  var Fire = new Firebase("https://langtimepurdue.firebaseio.com/")
</script>

<nav class="blue lighten-5">
  <ul id="slide-out" class="side-nav">
    <li><a href="#!">Current Story</a></li>
    <li><a href="#!">All Stories</a></li>
    <li><a href="#!">Leave Session</a></li>
  </ul>



  <ul class="left hide-on-med-and-down blue">
    <li><a href="#!">Current Story</a></li>
    <li><a href="#!">All Stories</a></li>
  </ul>

  <ul class="right hide-on-med-and-down red">
    <li><a href="#!">Leave Session</a></li>
  </ul>




  <a href="#" data-activates="slide-out" class="button-collapse "><i class="mdi-navigation-menu"></i></a>

</nav>

<script>

$(".button-collapse").sideNav({
    menuWidth: 240 // Default is 240
    // edge: 'right', // Choose the horizontal origin
    // closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
  });     
</script>




<div class="row" id="everyone">
  <div class="col s12 m5 grey lighten-4 z-depth-1" >
      <div class="col s12 m2 " >
            <div class="card small">
              <div style="height:20%">
                <a class="waves-effect waves-light btn-large green" id="arrow"><i class="mdi-navigation-arrow-back"></i></a>
              </div>
              <div style="height:60%" id="avatar">
                <img src="https://s3.amazonaws.com/langtime/54ca2c11d1afc1612871624a1434302813160.png" style="height:100%">
              </div>
              <div style="height:20%">
                <a class="waves-effect waves-light btn-large green" id="arrow"><i class="mdi-navigation-arrow-forward"></i></a>
              </div>
            </div>
      </div>

      <div class="col s12 m8 materialboxed">
              <div class="card" id="topLeftCard">
                <div class="card-image waves-effect waves-block waves-light">
                  <img draggable="true" ondrag="drag(event)" class="activator" id="topLeftCardId" src="http://materializecss.com/images/office.jpg">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Card Title <i class="mdi-image-filter-1 right"></i></span>
                </div>
              </div>
      </div>
  </div>
      <!-- mid session -->
  <div class="col s12 m2 grey lighten-2" id="div1">
      <a class="waves-effect waves-light btn blue lighten-1 id='select1'">Student 1</a>
      <a class="waves-effect waves-light btn blue lighten-1 id='select2'">Student 2</a>
      <a class="waves-effect waves-light btn blue lighten-1 id='select3'">Student 3</a>
      <a class="waves-effect waves-light btn blue lighten-1 id='select4'">Student 4</a>
  </div>


  <div class="col s12 m5 grey lighten-4 z-depth-1 right" >
      <div class="col s12 m2 right" id="m2">

            <div class="card small">
              <div style="height:20%">
                <a class="waves-effect waves-light btn-large green" id="arrow"><i class="mdi-navigation-arrow-forward"></i></a>
              </div>
              <div style="height:60%" id="avatar">
                <img src="https://s3.amazonaws.com/langtime/54ca2c11d1afc1612871624a1434302813160.png" style="height:100%">
              </div>
              <div style="height:20%">
                <a class="waves-effect waves-light btn-large green" id="arrow"><i class="mdi-navigation-arrow-back"></i></a>
              </div>
            </div>
      </div>
      <div class="col s12 m8 right materialboxed">
              <div class="card" id="topRightCard">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="http://materializecss.com/images/office.jpg">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Card Title <i class="mdi-image-filter-2 right"></i></span>
                </div>
              </div>
      </div>

  </div>

  <div class="col s12 m5 grey lighten-4 z-depth-1" >
      <div class="col s12 m2 " id="m2">
            <div class="card small">
              <div style="height:20%">
                <a class="waves-effect waves-light btn-large green" id="arrow"><i class="mdi-navigation-arrow-back"></i></a>
              </div>
              <div style="height:60%" id="avatar">
                <img src="https://s3.amazonaws.com/langtime/54ca2c11d1afc1612871624a1434302813160.png" style="height:100%">
              </div>
              <div style="height:20%">
                <a class="waves-effect waves-light btn-large green" id="arrow"><i class="mdi-navigation-arrow-forward"></i></a>
              </div>
            </div>
      </div>
      
        <div class="col s12 m8 materialboxed">
                <div class="card" id="bottomLeftCard">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="http://materializecss.com/images/office.jpg">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title <i class="mdi-image-filter-3 right"></i></span>
                  </div>
                </div>
        </div>
  </div>


        <!-- mid zone -->
  <div class="col s12 m2 grey lighten-2" id="div2">

  </div>

  <div class="col s12 m5 grey lighten-4 z-depth-1 right" >
      

      <div class="col s12 m2 right" id="m2">
            <div class="card small">
              <div style="height:20%">
                <a class="waves-effect waves-light btn-large green" id="arrow"><i class="mdi-navigation-arrow-forward"></i></a>
              </div>
              <div style="height:60%" id="avatar">
                <img src="https://s3.amazonaws.com/langtime/54ca2c11d1afc1612871624a1434302813160.png" style="height:100%">
              </div>
              <div style="height:20%">
                <a class="waves-effect waves-light btn-large green" id="arrow"><i class="mdi-navigation-arrow-back"></i></a>
              </div>
            </div>
      </div>

      <div class="col s12 m8 right materialboxed">
              <div class="card" id="bottomRightCard">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="http://materializecss.com/images/office.jpg">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Card Title <i class="mdi-image-filter-4 right"></i></span>
                </div>
              </div>
      </div>
  </div>

</div>


<script>
 $(document).ready(function(){
    $('.materialboxed').materialbox();
  });
</script>


<div class="row" id="oneStory" style="display:none">
  <div class="col s12 m8">
              <div class="card" id="bottomLeftCard">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="http://materializecss.com/images/office.jpg">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Card Title <i class="mdi-navigation-more-vert right"></i></span>
                </div>
              </div>
  </div>

  <div class="col s12 m4">
              <ul class="collapsible" data-collapsible="accordion">
                <li>
                  <div class="collapsible-header"><i class="mdi-image-filter-drama"></i>First</div>
                  <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="mdi-maps-place"></i>Second</div>
                  <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="mdi-social-whatshot"></i>Third</div>
                  <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                </li>
              </ul>

              <div id="langtimechat" class="blue-text text-darken-2">
                
                <div class="row" id="langtimechatinput">
                  <div class="input-field col s12">
                    <input placeholder="send message here" id="userMessage" type="text" class="validate">
                    <label for="userMessage">Type</label>
                  </div>
                </div>

                <div id="langtimeMessages" >
                      <div class="row card-panel">
                        <div class="col s10">
                          <span class="blue-text text-darken-2">{{text}}</span>        
                        </div>
                        <div class="col s2">
                          <p>Name</p>
                        </div>
                      </div>
                </div>
              </div>

  </div>
</div>



