<head>

<title>LangTime | Spoken English Training</title>
<meta name="description" content="Fastest Spoken English learning. | Fun storytelling and interesting conversation with a private tutor, creating your own 'customized' learning material">
<meta name="robots" content="index, follow">
<meta name="viewport" content="initial-scale=1.0">
<script src="./lib/jquery-1.11.1.min.js"></script>
<script src="./lib/handlebars-v3.0.3.js"></script>
<script src="./lib/socket.io.js"></script>
<link rel="stylesheet" href="./materialize/css/materialize.min.css">
<script src="./materialize/js/materialize.min.js"></script>
</head>





