<head>

<title>LangTime | Spoken English Training</title>
<meta name="description" content="Fastest Spoken English learning. | Fun storytelling and interesting conversation with a private tutor, creating your own 'customized' learning material">
<meta name="robots" content="index, follow">
<meta name="viewport" content="initial-scale=1.0">
<script src="./lib/jquery-1.11.1.min.js"></script>
<script src="./lib/handlebars-v3.0.3.js"></script>
<script src="./lib/socket.io.js"></script>
<link rel="stylesheet" href="./materialize/css/materialize.min.css">
<script src="./materialize/js/materialize.min.js"></script>
</head>

<!-- index of page structure-->
<!-- <body>
  <div id="navBar"></div>
  <div id="bodyComputer"></div>
  <div id="bodyMobile"></div>
  <div id="footer"></div>
</body> -->

<body class="lighten-5">
  <nav class="white" role="navigation">
    <div class="nav-wrapper">
      <a id="logo-container" href="#" class="brand-logo">
        <img src="https://s3.amazonaws.com/langtime/552cc5cb35dd945413007c5e1433873406118.gif" alt="">
      </a>
      <ul class="brand-logo center hide-on-med-and-down">
        <a href="#" class="large">Best-ish Spoken English Training</a>
      </ul>
      <style>.brand-logo a{color:orange;font-size: large}</style>
      <ul class="right hide-on-med-and-down">
        <a class="waves-effect waves-light btn-large blue">SingUp</a>
        <a class="waves-effect waves-light btn-large green">LogIn</a> 
      </ul>

      <ul class="side-nav" id="mobile-demo">
        <li class="orange lighten-3">Best-ish Spoken English Training</li>
        <li class="blue lighten-4"><a href="/signup">SingUp</a></li>
        <li class="green lighten-4"><a href="/login">LogIn</a></li>
      </ul>

      <a href="#" data-activates="mobile-demo" class="blue button-collapse"><i class="mdi-navigation-menu"></i></a>

      <script>$(document).ready(function(){$(".button-collapse").sideNav();})</script>
    </div>
  </nav>



  <div id="navBar"></div>
  <div id="bodyComputer"></div>
  <div id="bodyMobile"></div>
  <div id="footer"></div>
</body>