<script src="./lib/jquery-1.11.1.min.js"></script>
<script src="./lib/handlebars-v3.0.3.js"></script>
<script src="./lib/socket.io.js"></script>
<link rel="stylesheet" href="./materialize/css/materialize.min.css">
<script src="./materialize/js/materialize.min.js"></script>



<div class="row">
  <div class="col l2">this</div>
  <div class="col l2">this</div>
  <div class="col l2">this</div>
  <div class="col l2">this</div>
</div>